.main-content-container {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    overflow: visible;
}

#app-container {
    margin: 5px;
    width: 100%;
}

#init-app-card #plot-card {
    width: 100%;
}


.init-main-header {
    margin-top: 6px;
    font-size: 28px;
}

#plot-card {
    margin-top: 5px;
}

