<div [ngClass]="{'dark-theme': isDarkTheme}" class="main-content-container">
    <div [ngClass]="{'dark-background': isDarkTheme}"
         id="particles-js-target"></div>
    <div class="row">
        <div class="col-xs-12" id="header-container">
            <mat-card id="init-app-card">
                <h1 id="init-main-header">Kepler's Third Law</h1>
                <mat-slide-toggle [(ngModel)]="showParticles" class="init-slider" (change)="toggleParticles()">
                    Particle Effects
                </mat-slide-toggle>
                &nbsp;
                <mat-slide-toggle [(ngModel)]="isDarkTheme" class="init-slider" (change)="onDarkModeChange()">
                    Night Mode
                </mat-slide-toggle>
            </mat-card>
        </div>
        <div class="col-12 col-md-6 interaction-container">
            <mat-card id="planets-card">
                <h1 id="planets-header">Showing {{planets.length}} Planet<span *ngIf="planets.length !== 1">s</span>
                </h1>
                <mat-card id="create-planet-card">
                    <h2 id="create-planet-header">Create Planet
                    </h2>
                    <mat-slider [(ngModel)]="newPlanetOrbitalDistance" class="planet-creation-slider"
                                min="0" max="{{maxOrbitalDistance - 0.3}}" step="0.1" value="1"
                                (change)="syncNewOrbitalPeriod()">
                    </mat-slider>
                    <small>Orbital Distance: {{toFixedIfNecessary(newPlanetOrbitalDistance)}} AU</small>&nbsp;
                    <mat-slider [(ngModel)]="newPlanetOrbitalPeriod" class="planet-creation-slider"
                                min="0" max="{{maxOrbitalPeriod - 0.3}}" step="0.1" value="1"
                                (change)="syncNewOrbitalDistance()">
                    </mat-slider>
                    <small>Orbital Period: {{toFixedIfNecessary(newPlanetOrbitalPeriod)}} Years</small>&nbsp;
                    <br>
                    <br>
                    <button mat-raised-button color="primary" (click)="createUserPlanet()">Create Planet!</button>
                </mat-card>
                <div *ngFor="let planet of planets; let i = index">
                    <mat-card class="planet-container">
                        <b class="planet-name">{{planet['planetName']}}</b>
                        <br>
                        <small>Orbital Distance {{toFixedIfNecessary(planet["orbitalDistance"])}} AU,</small>&nbsp;
                        <small>Orbital Period {{toFixedIfNecessary(planet["orbitalPeriod"])}} Years</small>
                    </mat-card>
                </div>
            </mat-card>
        </div>
        <div class="col col-12 col-md-6 interaction-container">
            <mat-card id="plot-card">
                <div id="d3-container">
                    <div id="d3-target"></div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
